body.dark{
    background:#121212;
    color:white;
}

.dark .card{
    background:#1e1e1e;
    color:white;
}

.dark .list-group-item{
    background:#1e1e1e;
    color:white;
    border-color:#333;
}

.dark input{
    background:#2c2c2c;
    color:white;
    border:1px solid #555;
}

.dark input::placeholder{
    color:#ccc;
}